@page "{id:int?}"
@model RegistroDeConteiners.Pages_Conteiners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conteiner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conteiner.Cliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conteiner.Cliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conteiner.Numerodecntr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conteiner.Numerodecntr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conteiner.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conteiner.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conteiner.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conteiner.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conteiner.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conteiner.Categoria)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Conteiner.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
